html, body{
    margin: 0;
    padding: 0;
}
/* unvisited link */
a{text-decoration: none !important;}
a:link {
    text-decoration: none !important;
    color: inherit !important;
  }
  
  /* visited link */
  a:visited {
    text-decoration: none !important;
    color: inherit !important;
  }
  
  /* mouse over link */
  a:hover {
    text-decoration: none !important;
    color: inherit !important;
  }
  
  /* selected link */
  a:active {
    text-decoration: none !important;
    color: inherit !important;
  }